body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #999999;
    outline: none;
}



.alert {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}


.link-container  {
    color: #555555;
    text-decoration: none;
    display: flex;
    gap: 10px;

}

.link-container a:hover {
    text-decoration: underline;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

.btn.secondary-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #6c757d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn.secondary-btn:hover {
    background-color: #5a6268;
}

.btn-custom {
    background-color: #515558; /* Azul escuro */
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-custom:hover {
    background-color: #7f858b; /* Azul mais escuro */
    transform: scale(1.05);
}

.btn-custom:active {
    background-color: #003f7f; /* Azul ainda mais escuro */
    transform: scale(1);
}


/* Estilizando o botão de envio */
/* Alterando a cor do botão para cinza */
button.btn.btn-primary {
    background-color: #6c757d; /* Cinza */
    border-color: #6c757d; /* Cinza */
    color: white; /* Texto branco */
}

button.btn.btn-primary:hover {
    background-color: #5a6268; /* Cinza escuro ao passar o mouse */
    border-color: #545b62; /* Cinza mais escuro ao passar o mouse */
}
