/* Estilo global para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Container de login centralizado */
.login-container {
    max-width: 400px;
    width: 100%;
    margin: 80px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o título */
h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo para as mensagens de erro */
.messages {
    margin-bottom: 15px;
}

.error {
    color: red;
    text-align: center;
    font-size: 14px;
}

/* Estilo dos campos de entrada */
.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;  /* Inclui o padding e a borda dentro do tamanho total */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #6f756f;
    outline: none;
}

/* Estilo para o botão de envio */
button {
    width: 100%;
    padding: 12px;
    background-color: #6f756f;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6f756f;
}

/* Estilo para o link de criação de usuário */
a#botao-usuario {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
}

a#botao-usuario:hover {
    text-decoration: underline;
}

/* Adiciona um estilo geral ao formulário */
form {
    display: flex;
    flex-direction: column;
}
