<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Criar usuario</h2>
        <form method="POST" action="{%url 'criar_usuario'%}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Digite aqui o seu usuário" required>
            <input type="password" name="password" placeholder="Digite aqui a sua senha" required>
            <button type="submit">Criar usuario</button>
           


        </form>
    </div>
</body>
</html>