<!-- accounts/templates/accounts/login.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="GET" action="{% url 'index' %}">
            {% csrf_token %}
            <h1>BEM VINDO</h1>


        </form>
    </div>
</body>
</html>