<!-- accounts/templates/accounts/login.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {% if messages %}
         <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
             {% endfor %}
                 </ul>
                {% endif %}
            <input type="text" name="nome_usuario" placeholder="Digite seu nome de usuário" required>
            <input type="password" name="senha" placeholder="Digite sua senha" required>
            <button type="submit">Enviar</button>
            <a href="{% url 'criar_usuario' %}" id="botao-usuario">Criar Um Novo Usuário</a>
           


        </form>
    </div>
</body>
</html>
